<div class="c-sofia col-md-6 order-0 order-md-1">
    <div class="c-sofia__wrapper">
        <img class="c-sofia__logo" src="./images/logo-sofia.svg" />
        <div class="c-sofia__content">
            <div class="c-sofia__text">
                <h1 class="">Hello<br />I'm <b>SofiA</b></h1>
                <h2 class="" id="text-shuffle">Your collaborative<br /><b>Fire Prevention</b> Intelligence</h2>
                <a class="btn btn-primary btn-sofia " href="https://2018.spaceappschallenge.org/challenges/volcanoes-icebergs-and-asteroids-oh-my/real-time-fire-app/teams/gohub/project"
                    target="_blank">READ MORE</a>
            </div>

            <canvas class="c-sofia__webgl" id="scene"></canvas>
        </div>
        <footer class="c-sofia__footer">
            <div class="d-flex align-content-center justify-content-end">
                <div class="d-inline-block mr-2 mr-md-5">
                    <a href="https://2018.spaceappschallenge.org/challenges/volcanoes-icebergs-and-asteroids-oh-my/real-time-fire-app/teams/gohub/project" target="_blank" class="mr-1">
                        <img src="./images/Get_it_on_Google_play.svg" />
                    </a>
                    <a href="https://2018.spaceappschallenge.org/challenges/volcanoes-icebergs-and-asteroids-oh-my/real-time-fire-app/teams/gohub/project" target="_blank">
                        <img src="./images/Download_on_the_App_Store_Badge.svg" />
                    </a>
                </div>
                <div class="d-inline-block">
                    <a href="https://2018.spaceappschallenge.org/challenges/volcanoes-icebergs-and-asteroids-oh-my/real-time-fire-app/teams/gohub/project" target="_blank"> <i class="fab fa-facebook-square mr-1"></i></a>
                    <a href="https://2018.spaceappschallenge.org/challenges/volcanoes-icebergs-and-asteroids-oh-my/real-time-fire-app/teams/gohub/project" target="_blank"> <i class="fab fa-twitter-square mr-1 mr-md-3"></i></a>
                </div>
            </div>
        </footer>
    </div>

</div>