<!DOCTYPE html>
<html>
{{> head title='SofiA - Your collaborative Fire Prevention Intelligence'}}
<body>
  <div class="container-fluid h-100 p-0">
    <div class="row justify-content-center h-100 ">
      {{> map }}
      {{> sofia }}
    </div>
  </div>
  {{> scripts }}
</body>

</html>